body {
    margin: 0;
    font-family: "Roboto";
    color: white;
    background-color: #2a2b2c;
}

nav {
    background-color:#ad5d5d;
    background-image: linear-gradient(to right, #ad5d5d ,#92b6d5, #af9483);
    position: fixed;        
    text-align: center;
    width: 100%;
    padding-bottom: 5px;
    top: 0;
    z-index: 2;
    max-height: 71px;
}

nav div {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color:white;
    gap: 5px;
}

nav img {
    float: left;
    width: 2.5em;
    height: 4em;
    border-radius: 5px;
    margin-top: -0.4em;
}
nav a{
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav input {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 14px;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 5px;
}

section{
    margin-top: 71px;
}

.mobile-header {
    display: none;
    background: #333;
    width: 100%;
    margin-top: -4em;
    position: fixed;
    color: white;
    padding: 0 10px;
    align-items: center;
    gap: 10px;
    z-index: 3;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.mobile-header img {
   height: 2.5em; 
}

 #side-bar{
    width: 16%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color:#ad5d5d;
    background-image: linear-gradient(to bottom,#ad5d5d ,#6A89A8,#7E6BAE, #C89092);
    gap: 10px;
    z-index: 3;
}

#side-bar > * {
    margin-left: 15px;   
    margin-right: 15px;
}

#side-bar h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}


#side-bar button {
    text-decoration: none;
    padding: 8px;
    font-size: 1.4rem;
    font-weight: bold;

    border: none;
    outline: none;
    background-color: whitesmoke;
    color: rgb(46, 44, 44);
    border-radius: 10px;
    transition: transform 0.3s ease;
}

#side-bar button.current {
    background-color: #8A6CFF;
    border-radius: 10px;
    font-weight: bold;
}

#side-bar button:hover {
    background-color: rgb(150, 78, 179);
    transform: scale(1.05);
}

.main{
    width: 84%;
    height: 100%;
    margin-left: 16%;
    padding-bottom: 2em;
    background-color: #2a2b2c;
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
}

.main a.card {
    color: white;
    margin-left: 15px;
    margin-top: 25px;
    margin-right: 15px;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.main a:hover {
    transform: scale(1.05);
}

.card {
  display: none;
  background-color: #222;
  background-image: linear-gradient(to bottom right,#6f83a1 ,#8C6B42,#aa8534);
  color: white;
  border-radius: 10px;
  padding: 10px;
  max-height: 100vh;
}

.main .show {
    display: block 
}

.card-image {
  position: relative;
  z-index: 1;
}

.card-image .back {
  width: 100%;
  min-height: 30vh;
  max-height: 35vh;
}

.back {
    
  min-height: 35vh;
}

.card-image .element {
    width: 20px;
    height: 20px;
}

.badge {
  position: absolute;
  color: white;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  right: 0.1em;
}

.badge-threat {
    padding: 0.15rem;
    border-radius: 5px;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

.badge-threat-5 {
    background-color: #ea6f0a;
    background-image: linear-gradient(to right,rgba(228, 138, 20, 0.5),rgba(219, 185, 135, 0.5),rgba(228, 125, 29, 0.5) );
}

.badge-threat-6 {
    background-color: #ea640a;
    background-image: linear-gradient(to right,rgba(228, 79, 20, 0.5),rgba(218, 130, 90, 0.5),rgba(228, 79, 20, 0.5) );

}

.badge-threat-1 {
    background-color: #0a6bea;
    background-image: linear-gradient(to right,rgba(20, 152, 228, 0.5),rgba(196, 209, 224, 0.5),rgba(20, 145, 228, 0.5) );

}

.badge-threat-2 {
    background-color: rgb(0, 102, 255);
    background-image: linear-gradient(to right,rgba(0, 139, 253, 0),rgba(196, 209, 224, 0.5),rgba(20, 127, 228, 0) );

}

.badge-threat-3 {
    background-color: #2c79dd;
    background-image: linear-gradient(to right,rgba(72, 106, 218, 0.5),rgba(196, 198, 224, 0.5),rgba(107, 130, 207, 0.5) );
}

.badge-threat-4{
    background-color: #0a6bea;
    background-image: linear-gradient(to right,rgba(20, 69, 228, 0.5),rgba(196, 198, 224, 0.5),rgba(20, 69, 228, 0.5) );

}


.badge-element {
    background-color: rgba(0, 0, 0, 0.801);
    bottom: 0;
    left: 0;
    position: absolute;
    display: flex;
    padding: 0.15rem;
    gap: 5px;
    border-radius: 5px;
}

.card-content {
  padding: 10px;
   margin-top: 1em;
}

#fanged-beast, #amphibian, #demi-elder, #temnocerant, #cephalopod,
#construct, #flying-wyvern, #bird-wyvern, #construct, #leviathan, #brute-wyvern {
    display: block;
}



.card-content h2 {
  margin: 0;
  font-size: 20px;
  color: white;
}

.subtitle {
  font-size: 18px;
  margin-top: 0.5em;
}

.location {
    font-size: 16px; 
    display: flex;   
    align-items: baseline; 
    padding-bottom: 1rem;
}

.location img {
    width: 20px;
    height: 20px; 
}

.tag {
    font-size: 14px;
    display: flex;
    justify-content: space-between;

}

.tag img {
    width: 20px;
    height: 20px;
    margin-top: 1em;
}

@media (min-width: 1921px) and  (max-width: 2560px){
    body {
        font-size: 30px;
    }

    nav {
        max-height: 4em;
    }
    
    nav a {
        font-size: 40px;
    }

    section {
        margin-top: 4em;
    }

    .card-image .element {
        width: 30px;
        height: 30px;
    }

    .card-content h2 {
        font-size: 30px;
    }

    .card-image .back {
        min-height: 35vh;
    }

    .subtitle {
    font-size: 26px;
    margin-top: 0.5em;
    }

    .location {
        font-size: 26px; 
            
    }
    .tag {
        font-size: 24px;
        display: flex;
        justify-content: space-between;
    }
    
}

@media (max-width: 1024px) {
    .main {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media (max-width: 768px) {
    #side-bar{
        display: none;
        width: 40%;
        margin-top: 1em;
    }

    #side-bar h1 {
        display: none;
    }

    #side-bar .top {
        margin-top: 1em;
    }
    .mobile-header {
        display: flex;
    }

    .fa fa-bars {
        color: white;
    }

    .main {
        margin-top: 130px;
        width: 100%;
        margin-left: 0;
        grid-template-columns: auto auto;
    }
}

@media (max-width: 425px){
    .main {
        grid-template-columns: auto;
    }
    
}

@media (max-width: 320px){
    h1 {
        font-size: 1.5em;
    }

    #side-bar {
        margin-top: 0;
    }
    
}