@import "tailwindcss";

body {
    margin: 0;
    font-family: "Roboto";
}

nav{
    max-height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color:rgba(78, 68, 38, 0.9);
    align-items: center;
}

nav > * {
    padding: 0.5rem 0;
}

nav div.logo {
    display: flex;
    flex-direction: row;
    color:white;
    gap:10px;
    align-items: center;
}

nav div.logo img {
    width: 3.2rem;
    height: 5rem;
    border-radius: 5%;
    padding-left: 0.5rem;
}
nav a {
    text-decoration: underline;
    font-size: 24px;
    /* background-color: #ea940a;  */
    padding: 10px 5px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
    margin-right: 1.5rem;
}


/*Header*/

header section {
    
    background-image: url("img/background-header.png");
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 6em 0;    
    color: whitesmoke;
    
}



header section div {
    background-color: hsl(40, 12%, 10%, 0.7);
    border-radius: 20px;
    padding: 10px;
    /* border:3px solid black; */
    text-align: center;
    font-size: 40px;
    transform: scale(0.9);
    
}

header section div > * {
    margin: 0;
    padding: 1.2rem;
}

header section h1 {
    font-size: 60px;
    color: #C4622D;
}



#header-description {  
    width: 50rem;
    font-size: 32px;
    text-align: center;
}

header section a {
    text-decoration: none;
    font-size: 40px;
    background-color: rgba(78, 68, 38, 0.70); 
    padding: 1rem 1.2rem;
    margin-top: 0.5em;
    border-radius: 16px;
    color: #C4622D;
}
/*Discoveries*/

section.discoveries {

    background-color:#1C1A16 ;
    text-align: center;
}


 h2 {
    font-weight: bold;
    color: #C4622D;
    padding-top: 1rem;
}

div.discoveries-heading {
    width: 80vw;
    margin-top: 1em;
    text-align: center;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

div.discoveries-heading  > *{
    margin: 0;
}

div.discoveries-heading p {
    color: rgb(211, 198, 169);
    font-size: 34px;
    word-wrap: normal;
    padding-bottom: 1em;
}

div.discoveries-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}


div.discoveries-info div{
    background-color: #2A2622;
    color: #F4E9D8;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
    width: 16vw;
    min-height: 360px;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    padding: 1em;
    gap: 1rem;
}

div.discoveries-info div > * {
    margin: 0;
}

div.discoveries-info img {
    width:6rem ;
    height:6rem;
    background-color: aliceblue;
    border-radius: 50px;
    padding: 0.5em;
}

p.description-heading {
    font-size: 28px;
    color: white;
}

/*  Numbers*/

section#numbers {

    background-color: rgba(12, 12, 12, 1);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
}

div.numbers-heading h3 {
    font-size: 36px;
    color: #C4622D;
}

div.numbers-heading {
    padding-bottom: 2rem;
}

div.numbers-heading p {
    font-size:28px;
}

div.numbers-info {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding-bottom: 2rem;
}

.numbers-info-p {
    color: #ea940a;
    font-size: 44px;
}

/*Categpries*/

#category {
    background-color: rgb(31, 31, 30);
    text-align: center;
    color: white;
}

/*Journey*/

#journey {
    background-color: rgb(42, 36, 25);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    padding-bottom: 2em;
    gap: 2rem;
}

#journey > *{
    margin: 0;
}

#journey h5 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 1em;
}

#journey p {
    font-size: 24px;
    color: #96938f;
    width: 90%;
}

#journey a{
    text-decoration: none;
    font-size: 30px;
    background-color: #ea940a; 
    padding: 12px 7px;
    border-radius: 10px;
    color: white;
    align-items: center;
}

footer {
    width: 100%;
    background-color: rgb(31, 31, 30);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div {
    display: inline-flex;
    gap: 5px;
    text-align: center;
    align-items: center;
}

footer > * {
    margin: 0;
}

footer div * {
    margin: 0;
}

footer img {
    width: 4vh;
    height: 6vh;
    border-radius: 5%;
}

footer div p {
    font-size: 24px;
}


@media (max-width: 768px){

    nav a {
        display: none;
    }

    header section h1 {
        font-size: 40px;
    }

    header section p {
        font-size: 30px;
    }

    header section p.header-description {
        font-size: 26px;
    }
    header section a {
        font-size: 26px;
    }

    header section div {
        margin: 5%;
    }
    nav h1 {
        font-size: 1em;
    }

    #header-description {
        width: auto;
    }

    div.discoveries-info div {
        min-height: 460px;  
    }
}

@media (max-width: 425px){
    
    
    nav div.logo{
        gap: 0;
    }

    nav a {
        font-size: 12px;
        margin-right: 0.2rem;
        padding: 6px 2px;
    }

    nav a.big-screen {
    display: none;
    }

    nav a.small-screen {
    display: block;
    }

    div.discoveries-info {
        flex-direction: column;
        gap: 2rem;
    }

    div.discoveries-info div{
        padding: 1em 0;
        margin: 5%;
        min-height: auto;
        width: auto;
        justify-content: space-around;
    }

    div.numbers-heading p {
        margin: 5%;
    }

    div.category-boxes {
        flex-direction: column;
        gap: 2rem;
    }
    div.box-config {
        width: auto;
    }

    footer p {
        font-size:12px ;
        text-align: center;
    }
    
    footer div {
        gap: 0;
    }

    footer div p {
        font-size: 16px;
    }

    

} 